[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
User=etcd
Group=etcd
ExecStart=/opt/etcd/etcd-{{ etcdVer }}-linux-amd64/etcd \
  --name {{ inventory_hostname }} \
  --initial-advertise-peer-urls https://{{ ansible_host }}:2380 \
  --listen-peer-urls https://{{ ansible_host }}:2380 \
  --listen-client-urls https://{{ ansible_host }}:2379,https://127.0.0.1:2379 \
  --advertise-client-urls https://{{ ansible_host }}:2379 \
  --initial-cluster-token {{ clusterName }} \
  --initial-cluster {% for host in groups['etcd'] %}{{ hostvars[host]['inventory_hostname'] }}=https://{{ hostvars[host]['ansible_host'] }}:2380{% if not loop.last %},{% endif %}{% endfor %} \
  --initial-cluster-state new \
  --data-dir=/opt/etcd/data \
  --cert-file=/opt/etcd/ssl/{{ inventory_hostname }}.{{ clusterDomain }}.pem \
  --key-file=/opt/etcd/ssl/{{ inventory_hostname }}.{{ clusterDomain }}-key.pem \
  --peer-cert-file=/opt/etcd/ssl/{{ inventory_hostname }}.{{ clusterDomain }}.pem \
  --peer-key-file=/opt/etcd/ssl/{{ inventory_hostname }}.{{ clusterDomain }}-key.pem \
  --trusted-ca-file=/opt/etcd/ssl/ca.pem \
  --peer-trusted-ca-file=/opt/etcd/ssl/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
