[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes

[Service]
User=kubernetes
Group=kubernetes
ExecStart=/opt/kubernetes/kubernetes-{{ kubernetesVer }}-linux-amd64/bin/kube-scheduler \
  --address={{ ansible_host }} \
  --config=/opt/kubernetes/config/kube-scheduler.yml \
  --log-dir=/opt/kubernetes/log/kube-scheduler \
  --logtostderr=false \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target