[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
User=kubernetes
Group=kubernetes
ExecStart=/opt/kubernetes/kubernetes-{{ kubernetesVer }}-linux-amd64/bin/kube-apiserver \
  --advertise-address={{ loadBalancerIp }} \
  --allow-privileged=true \
  --apiserver-count=3 \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/opt/kubernetes/log/kube-apiserver/audit.log \
  --authorization-mode=Node,RBAC \
  --apiserver-count=3 \
  --bind-address=127.0.0.1 \
  --cert-dir=/opt/kubernetes/ssl/ \
  --client-ca-file=/opt/kubernetes/ssl/ca.pem \
  --enable-admission-plugins=Initializers,NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
  --enable-swagger-ui=true \
  --etcd-cafile=/opt/kubernetes/ssl/ca.pem \
  --etcd-certfile=/opt/kubernetes/ssl/{{ inventory_hostname }}.{{ clusterDomain }}-etcd.pem \
  --etcd-keyfile=/opt/kubernetes/ssl/{{ inventory_hostname }}.{{ clusterDomain }}-etcd-key.pem \
  --etcd-servers={% for host in groups['etcd'] %}https://{{ hostvars[host]['ansible_host'] }}:2379{% if not loop.last %},{% endif %}{% endfor %} \
  --event-ttl=1h \
  --experimental-encryption-provider-config=/opt/kubernetes/ssl/encryption-config.yml \
  --external-hostname={{ inventory_hostname }} \
  --profiling=false \
  --log-dir=/opt/kubernetes/log/kube-apiserver \
  --logtostderr=false \
  --kubelet-certificate-authority=/opt/kubernetes/ssl/ca.pem \
  --kubelet-client-certificate=/opt/kubernetes/ssl/kube-master.{{ clusterDomain }}.pem \
  --kubelet-client-key=/opt/kubernetes/ssl/kube-master.{{ clusterDomain }}-key.pem \
  --kubelet-https=true \
  --runtime-config=api/all \
  --service-account-key-file=/opt/kubernetes/ssl/service-account.pem \
  --service-cluster-ip-range={{ serviceClusterIpRange }} \
  --service-node-port-range=30000-32767 \
  --tls-cert-file=/opt/kubernetes/ssl/kube-master.{{ clusterDomain }}.pem \
  --tls-private-key-file=/opt/kubernetes/ssl/kube-master.{{ clusterDomain }}-key.pem \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target