[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
User=kubernetes
Group=kubernetes
ExecStart=/opt/kubernetes/kubernetes-{{ kubernetesVer }}-linux-amd64/bin/kube-controller-manager \
  --bind-address=0.0.0.0 \
  --cert-dir=/opt/kubernetes/ssl/ \
  --cluster-cidr={{ clusterCidr }} \
  --cluster-name={{ clusterName }} \
  --cluster-signing-cert-file=/opt/kubernetes/ssl/ca.pem \
  --cluster-signing-key-file=/opt/kubernetes/ssl/ca-key.pem \
  --flex-volume-plugin-dir=/opt/kubernetes/kubernetes-{{ kubernetesVer }}-linux-amd64/kube-controller-manager/plugin \
  --kubeconfig=/opt/kubernetes/config/kube-controller-manager.kubeconfig \
  --root-ca-file=/opt/kubernetes/ssl/ca.pem \
  --service-account-private-key-file=/opt/kubernetes/ssl/service-account-key.pem \
  --leader-elect=true \
  --log-dir=/opt/kubernetes/log/kube-controller-manager \
  --loglevel=0 \
  --logtostderr=false \
  --service-cluster-ip-range={{ serviceClusterIpRange }} \
  --use-service-account-credentials=true \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target