[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/opt/kubernetes/kubernetes-{{ kubernetesVer }}-linux-amd64/bin/kubelet \
  --allocate-node-cidrs=true \
  --cert-dir=/opt/kubernetes/ssl \
  --cni-bin-dir=/opt/kubernetes/kubernetes-{{ kubernetesVer }}-linux-amd64/plugin \
  --cni-conf-dir=/opt/kubernetes/cni \
  --config=/opt/kubernetes/config/kubelet-config.yml \
  --container-runtime=docker \
  --image-pull-progress-deadline=2m \
  --kubeconfig=/opt/kubernetes/config/{{ inventory_hostname }}.kubeconfig \
  --log-dir=/opt/kubernetes/log/kubelet \
  --logtostderr=false \
  --network-plugin=cni \
  --register-node=true \
  --root-dir=/opt/kubernetes/kubelet/root \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
