[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/opt/kubernetes/kubernetes-{{ kubernetesVer }}-linux-amd64/bin/kube-proxy \
  --config=/opt/kubernetes/config/kube-proxy-config.yml \
  --log-dir=/opt/kubernetes/log/kube-proxy \
  --logtostderr=false
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
