- name: Download kubelet
  get_url:
    url: https://storage.googleapis.com/kubernetes-release/release/{{ kubernetesVer }}/bin/linux/amd64/{{ item }}
    dest: /opt/kubernetes/kubernetes-{{ kubernetesVer }}-linux-amd64/bin/{{ item }}
    owner: kubernetes
    group: kubernetes
    mode: 0755
  with_items:
    - kubelet
    - kubectl

- name: Download CNI plugin tarball
  get_url:
    url: https://github.com/containernetworking/plugins/releases/download/{{ cniPluginVer }}/cni-plugins-amd64-{{ cniPluginVer }}.tgz
    dest: /opt/archives

- name: Extract CNI plugin tarball
  unarchive:
    src: "/opt/archives/cni-plugins-amd64-{{ cniPluginVer }}.tgz"
    dest: "/opt/kubernetes/kubernetes-{{ kubernetesVer }}-linux-amd64/plugin"
    remote_src: yes

- name: Upload kubelet kubeconfig
  copy:
    src: ../../../../Konfiguration/vagrant/{{ inventory_hostname }}.kubeconfig
    dest: /opt/kubernetes/config/{{ inventory_hostname }}.kubeconfig
    owner: kubernetes
    group: kubernetes
    mode: 0600

- name: Upload kubelet-config.yml
  template:
    src: kubelet-config.yml
    dest: /opt/kubernetes/config
    owner: kubernetes
    group: kubernetes
    mode: 0600

- name: Upload kubelet service file
  template:
    src: kubelet.service
    dest: /etc/systemd/system/kubelet.service
  notify: reload kubelet

- name: Remove swapfile from /etc/fstab
  mount:
    name: swap
    fstype: swap
    state: absent

- name: Disable swap
  command: swapoff -a
  when: ansible_swaptotal_mb > 0

- name: upload cni config
  template:
    src: "{{ item }}"
    dest: /opt/kubernetes/cni
    owner: kubernetes
    group: kubernetes
    mode: 0600
  with_items:
    - 10-bridge.conf
    - 99-loopback.conf
  notify: reload kubelet