- name: Download kube-proxy
  get_url:
    url: https://storage.googleapis.com/kubernetes-release/release/{{ kubernetesVer }}/bin/linux/amd64/{{ item }}
    dest: /opt/kubernetes/kubernetes-{{ kubernetesVer }}-linux-amd64/bin/{{ item }}
    owner: kubernetes
    group: kubernetes
    mode: 0755
  with_items:
    - kube-proxy

- name: Upload kube-proxy.kubeconfig
  copy:
    src: ../../../../Konfiguration/vagrant/kube-proxy.kubeconfig
    dest: /opt/kubernetes/config/kube-proxy.kubeconfig
    mode: 0600
    owner: kubernetes
    group: kubernetes

- name: Upload kube-proxy config
  template:
    src: kube-proxy-config.yml
    dest: /opt/kubernetes/config/kube-proxy-config.yml
    mode: 0600
    owner: kubernetes
    group: kubernetes

- name: Upload kube-proxy service script
  template:
    src: kube-proxy.service
    dest: /etc/systemd/system/kube-proxy.service
  notify: reload kube-proxy

- name: enable kube-proxy service
  service:
    name: kube-proxy
    state: started
    enabled: yes